.snapp-main-wrapper {
	position: absolute;
	top: 5vh;
	left: 0;
	right: 0;
	margin: auto;
	width: 820px;
}

.snapp-form-wrapper {
	padding: 60px;
	border-radius: 25px;
	background-color: white;
	box-shadow: 3px 3px 10px #888;
	text-align: center;
}

.snapp-about-wrapper {
	width: 100%;
	padding-top: 10px;
	text-align: right;
}

.snapp-logo {
	width: 300px;
	height: 150px;
}
