<div defaultOverlayTarget class="snapp-main-wrapper">
    <div class="snapp-form-wrapper">
        <div>
            <span style="color: red;">
                Snapp<i>!</i> has been updated, if you encounter any issues please contact me directly or open a new GitHub issue (link in about section).<br>
                Linux support has been dropped. If you used this feature please let me know so that I can reconsider the decision.
            </span>
        </div>
        <br />
        <img class="snapp-logo" src="./resources/imgs/snapp-logo.png">
        <snap-project-submit-form></snap-project-submit-form>
    </div>
    <div class="links-wrapper">
        <div class="wiki-wrapper">
            <a href="https://github.com/adrian-hintze/Snapp/wiki" target="_blank">Check out the wiki</a>
        </div>
        <div class="snapp-about-wrapper">
            <snapp-about></snapp-about>
        </div>
    </div>
</div>
