<div defaultOverlayTarget class="snapp-main-wrapper">
    <div class="snapp-form-wrapper">
        <div>
            <span style="color: red;">
                OS X Version has been fixed. Support for 32 bit version has been dropped.
            </span>
        </div>
        <br />
        <img class="snapp-logo" src="./resources/imgs/snapp-logo.png">
        <snap-project-submit-form></snap-project-submit-form>
    </div>
    <div class="links-wrapper">
        <div class="wiki-wrapper">
            <a href="https://github.com/Rydion/Snapp/wiki" target="_blank">Check out the wiki</a>
        </div>
        <div class="snapp-about-wrapper">
            <snapp-about></snapp-about>
        </div>
    </div>
</div>
