.snapp-main-wrapper {
	position: absolute;
	top: 5vh;
	left: 0;
	right: 0;
	margin: auto;
	width: 820px;
}

.snapp-form-wrapper {
	width: 700px;
	padding: 50px;
	border: 10px solid rgba(0, 0, 0, 0);
	border-radius: 25px;
	background-color: white;
	box-shadow: 3px 3px 10px #888;
	text-align: center;
}

.snapp-about-wrapper {
	width: 100%;
	padding-top: 10px;
	text-align: right;
}

.snapp-about-link {
	position: relative;
	right: 25px;
	text-decoration: none;
	color: black;
}

.snapp-about-link:hover {
	font-weight: bold;
}

.snapp-logo {
	width: 300px;
	height: 150px;
}